import pyttsx3 as p
import wikipedia
import datetime
import pyaudio
import speech_recognition as sr
import webbrowser
import os
import dictionary
import pyautogui

engine = p.init('sapi5')
voices = engine.getProperty('voices')
#print(voices[0].id)
engine.setProperty('voice',voices[0].id)
engine.setProperty('volume',50)

def speak(audio):
    engine.say(audio)
    engine.runAndWait()

def wishMe():
    hour = int(datetime.datetime.now().hour)
    if hour>=0 and hour<12:
        speak("Good Morning!")
    elif hour>12 and hour<18:
        speak("Good Afternoon!")
    else:
        speak("Good Evening!")
    #speak("Hi sir, I am Jarvis an artificial intelligence, please tell me how may I help u?")
    #speak("Ganpati Bappa Morya, Jay Shree Ram")

#query = r.recognize_google(audio, language='en-in')

def takeCommand():
    r = sr.Recognizer()
    with sr.Microphone() as source:
        print("Listening...")
        r.pause_threshold = 1
        r.energy_threshold =600 
        audio = r.listen(source)
    try:
        print('Recognizing...')
        query = r.recognize_google(audio, language="en-in")
        print(f"User said: {query}\n")
        #print("Recognizing...")
        #query = r.recognize_google(audio, language='en-in')
        #print(f"User said: {query}\n")
    
    #except sr.RequestError as e: 
        #print("Could not request results; {0}".format(e)) 
          
    #except sr.UnknownValueError: 
        #print("unknown error occured") 

    except Exception as e:
        print(e)

        print("Say that again")
        return "None"

    return query

    #except sr.RequestError as e: 
       # print("Could not request results; {0}".format(e)) 
          
    #except sr.UnknownValueError: 
      #  print("unknown error occured") 

    #return query

#def hit(key):
   # pyautogui.press(key)


#def talktoMe():
 #   if 


        
if __name__ == "__main__":
    wishMe()
    takeCommand()

while True:
    query = takeCommand().lower()
      
    if 'wikipedia' in query:
        speak("Searching in wikipedia.....Please wait for a while")
        query = query.replace("wikipedia","")
        results = wikipedia.summary(query, sentences=2)
        speak("According to Wikipedia")
        print(results)
        speak(results)
        
    #elif 'open youtube' in query:
    #    webbrowser.open("youtube.com")
     #   speak("Here you go sir.")
    
    elif 'open google' in query:
        webbrowser.open("google.com")
        speak("Here you go sir.")

    elif "what's the time" in query:
        strTime = datetime.datetime.now().strftime("H%:M%:S%")
        speak(f"Sir, the time is {strTime}")

    elif 'hello jarvis' in query:
        speak("hi sir, how are u doing,how was your day?")
        while True:
            query = takeCommand().lower()
            if 'good' in query:
                speak("same here,what can i do for you?")
            elif 'bad day' in query:
                speak("what happen sir?")
            elif 'i am bored' in query:
                speak("so,what can i do for you?")
                while True:
                    query = takeCommand().lower()
                    if 'live it jarvis' in query:
                        speak("ok sir, may i help you to make your day better?")
                        while True:
                            query = takeCommand().lower()
                            if 'yes' in query:
                                webbrowser.open("youtube.com")
                                speak("sir,do you want to see any funny videos")
                            elif 'no' in query:
                                speak("what can i do for u sir?")
                            else:break        
                    else:break
            else:break    

    elif 'play music for me' in query:
        speak("which kind of music would you like to hear")
        pyautogui.moveTo()
        while True:
            query = takeCommand().lower()
            if 'i want to chill, play accordingly' in query:
                speak("ok ,just a second")
            elif 'i want to dance' in query:
                speak("ok ,just a second")
            else:break
    elif 'gg boy' in query:
        speak("thanks sir")
        while True:
            query = takeCommand().lower()
            if 'thanks man' in query:
                speak("")
            else:
                break            
               
    elif 'increase volume' in query:
        speak("ok sir")
        pyautogui.press('F3', interval=0.01)
   
    elif 'decrease volume' in query:
        speak("ok sir")
        pyautogui.press('F2', interval=0.01)

    elif 'mute' in query:
        speak("ok sir")
        pyautogui.press('m', interval=0.01)
    #elif 'unmute' in query:
        
    elif 'close windows' in query:
        speak("ok sir")
        pyautogui.moveTo(1900, 0)
        pyautogui.click(button='left', interval=0.01)
   
    elif 'minimise the tab' in query:
        speak("ok sir")      
        pyautogui.moveTo(1750, 0)
        pyautogui.click(button='left', interval=0.01)
    
    elif 'play video' in query:
        speak("ok sir")
        pyautogui.press('space', interval=0.01)
    elif'pause video' in query:
        speak("ok sir")
        pyautogui.press('space',interval=0.01)
    
    elif 'increase computers volume' in query:
        speak("ok sir")
        pyautogui.press('volumeup',interval=0.01)

    elif 'decrease computers volume' in query:
        speak("ok sir")
        pyautogui.press('volumedown',interval=0.01)
    
    elif 'open chrome' in query:
        speak("ok sir")
        pyautogui.moveTo(750, 1079)
        pyautogui.click(button='left',interval=0.01)
    
    elif 'search' in query:
        speak("what should i search")
        pyautogui.moveTo(750, 650)
        pyautogui.click(button='left',interval=0.01)
      #  pyautogui:pyautogui.type(query)

    elif 'open folder' in query:
        speak("ok sir")
        pyautogui.moveTo(950, 1079)
        pyautogui.click(button='left',interval=0.45)

        
    elif 'close chrome' in query:
        speak("ok sir")
        pyautogui.moveTo(750, 1079)
        pyautogui.click(button='right',interval=0.25)
        pyautogui.moveTo(750, 999)
        pyautogui.click(button='left',interval=0.25)

    elif 'open youtube' in query:
        speak("here you go")
        pyautogui.moveTo(750, 1079)
        pyautogui.click(button='left',interval=0.45)
        pyautogui.moveTo(260, 140)
        pyautogui.click(button='left',interval=0.45)    
    
    elif 'who made you' in query:
        speak("i was been programmed by Aditya Moray")
        while True:
            query = takeCommand().lower()
            if 'who is he' in query:
                speak("i don't know much about him")
            else:break
